:root {
  --main-color: #ffffff;
  --dark-color: #000000;
  --hover-color: #902221;
  --main-font: 'Roboto', sans-serif;
  --gradient-background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 65.37%
  );
  --main-gap: 8px;
  --width-max: 100%;
}