<footer>
    <div class="container">
        <div class="footer__container">
            <ul class="footer__container__list">
                <li class="footer__container__list--copyright">
                    <p> &#169; 2023 | All Rights Reserved | </p>
                </li>
                <li>
                    <ul class="footer__container__list--dev">
                        <li> Developed with</li>
                        <li class="footer__container__list--dev-heart">
                            <svg class="footer__container__list--dev-icon" width="14" height="13">
                                <use href="./images/film.svg#icon_heart"></use>
                            </svg>
                        </li>
                    </ul>
                </li>
                <li class="footer__container__list--students">
                    <a id="toggleLink" href="#">GoIT Students</a>
                    <div id="hiddenDiv" class="footer__container__list--students-toggle">
                        <div class="team__container container">
                            <h2 class="team__title">Our Team</h2>
                            <ul class="team__list container">
                                <li class="team__list__item">
                                    <img class="team__list__item__img"
                                        srcset="./images/luminita.png 316w, ./images/luminita@2x.png 632w"
                                        src="./images/luminita.png" sizes="480px" alt="id photo Luminita">
                                    <div class="team__list__item__description">
                                        <h3 class="team__list__item__description__name">
                                            Luminita C
                                        </h3>
                                        <p class="team__list__item__description__role">
                                            Team Leader
                                        </p>
                                        <div class="team__list__item__social">
                                            <a href="https://github.com/luminitza24" target="_blank"
                                                class="team__list__item__social__link">
                                                <svg class="team__list__item__social__link--icon">
                                                    <use href="./images/film.svg#icon_github"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="team__list__item">
                                    <img class="team__list__item__img"
                                        srcset="./images/andreea.png 301w, ./images/andreea@2x.jpg 602w"
                                        src="./images/andreea.png" sizes="480px" alt="id photo Andreea">
                                    <div class="team__list__item__description">
                                        <h3 class="team__list__item__description__name">
                                            Andreea C
                                        </h3>
                                        <p class="team__list__item__description__role">
                                            Scrum
                                        </p>
                                        <div class="team__list__item__social social-list">
                                            <a href="https://github.com/AndreeaC24" target="_blank"
                                                class="team__list__item__social__link">
                                                <svg class="team__list__item__social__link--icon">
                                                    <use href="./images/film.svg#icon_github"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="team__list__item">
                                    <img class="team__list__item__img"
                                        srcset="./images/cristina.png 298w, ./images/cristina@2x.jpg 596w"
                                        src="./images/cristina.png" sizes="480px" alt="id photo Cristina">
                                    <div class="team__list__item__description">
                                        <h3 class="team__list__item__description__name">
                                            Cristina M
                                        </h3>
                                        <p class="team__list__item__description__role">
                                            Developer
                                        </p>
                                        <div class="team__list__item__social social-list container--unstyled-list">
                                            <a href="#" target="_blank" class="team__list__item__social__link">
                                                <svg class="team__list__item__social__link--icon">
                                                    <use href="./images/film.svg#icon_github"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="team__list__item">
                                    <img class="team__list__item__img"
                                        srcset="./images/alexandru.png 415w, ./images/alexandru@2x.png 824w"
                                        src="./images/alexandru.png" sizes="480px" alt="id photo Alexandru">
                                    <div class="team__list__item__description">
                                        <h3 class="team__list__item__description__name">
                                            Alexandru M
                                        </h3>
                                        <p class="team__list__item__description__role">
                                            Developer
                                        </p>
                                        <div class="team__list__item__social social-list container--unstyled-list">
                                            <a href="https://github.com/AlexandruMoldoveanu95" target="_blank"
                                                class="team__list__item__social__link">
                                                <svg class="team__list__item__social__link--icon">
                                                    <use href="./images/film.svg#icon_github"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>