<header class="header_main container">
    <ul class="header__container">
        <li class="header__container--navbar">
            <nav class="header__navigation">
                <ul class="header__navigation__menu">
                    <li class="header__navigation__menu__item">
                        <a href="index.html" class="header__navigation__menu__item--link">Home</a>
                    </li>
                    <li class="header__navigation__menu__item header__navigation__menu--selected">
                        <a href="library.html" class="header__navigation__menu__item--link">My library</a>
                    </li>
                </ul>
            </nav>
        </li>
        <li class="header__container__logo">
            <a href="./index.html" class="header__container__logo--link">
                <span class="header__container__logo--icon">
                    <svg class="header__container__logo--icon-svg">
                        <use href="./images/film.svg#logo_icon"></use>
                    </svg>
                </span>
                <h1 class="header__title">Filmoteka</h1>
            </a>
        </li>
        <li class="header__menu">
            <ul class="header__menu__list">
                <li class="header__menu__list__item header__navigation__menu--selected">
                    <a href="#watched" class="header__menu__list__item--link">Watched</a>
                </li>
                <li class="header__menu__list__item">
                    <a href="#queue" class="header__menu__list__item--link">Queue</a>
                </li>
            </ul>
        </li>
        <li class="header__container--switch-btn">
            <input type="checkbox" class="header__container--switch-btn-checkbox" id="checkbox" />
            <label for="checkbox" class="header__container--switch-btn-checkbox-label">
                <svg id="btn_night">
                    <use href="./images/film.svg#night_btn"></use>
                </svg>
                <svg id="btn_light">
                    <use href="./images/film.svg#light_btn"></use>
                </svg>
                <span class="ball"></span>
            </label>
        </li>
    </ul>
</header>