<header class="container">
  <div class="header__container">
      <div class="header__container--navbar">
          <nav class="header__navigation">
              <ul class="header__navigation__menu container">
                  <li class="header__navigation__menu--item">
                      <a href="index.html" class="header__navigation__menu--item-link">Home</a>
                  </li>
                  <li class="header__navigation__menu--item header__navigation__menu--selected">
                      <a href="library.html" class="header__navigation__menu--item-link">My library</a>
                  </li>
              </ul>
          </nav>
      </div>

      <div class="header__container__logo">
          <a href="./index.html" class="header__container__logo--link">
              <span class="header__container__logo--icon">
                  <svg class="header__container__logo--icon-svg">
                      <use href="./images/film.svg#logo_icon"></use>
                  </svg>
              </span>
              <h1 class="header__title">Filmoteka</h1>
          </a>
      </div>
  </div>
</header>