<section class="container">
    <div class="library__container">
        <h2 class="library__container--title">
            Your movie colection is empty. </h2>
           <img class="grid__image" height="294" width="370" src="/src/images/moviee.jpg" alt="calculator"/>
           <p class="library__container--msg"> Let's find something you'll love</p>
           <a href="index.html" class="header__menu__list__item--link">Home</a>
    </div>
    <div>
        <ul id="savedMoviesList"></ul>
        <div>
            <ul id="queueMoviesList"></ul>
        </div>
    </div>
</section>