* {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body.dark {
  background-color: #23262d;
  color: white;
  .team__list__item {
    background-color: #23262d;
    color: white;
    &__description__role {
      color: var(--main-color);
    }
    &__social__link {
      background-color: #ccc;
      margin: 10px;
    }
  }
  .gallery__items{
    background-color: #23262d;
    color: white;
    border:1px solid var(--main-color);
  }
} 
