#loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width-max);
  height: 100%;
  background-color: rgba(35, 38, 45, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  animation: spin 3s ease-in-out infinite;
  transform-origin: center center;
  fill: var(--main-color);
  stroke: black;
}
@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
