// .modal {
//   width: 100%;
//   max-height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 100;
//   background-color: rgba(0, 0, 0, 0.2);
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   pointer-events: none;
// }

// .modal__is-hidden {
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
//   transform: scale(0.1);
// }
// .modal__close {
//   border-radius: 50%;
//   background-color: #ffff;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   width: 30px;
//   height: 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: black;
//   cursor: pointer;
//   position: absolute;
//   top: 8px;
//   right: 8px;
// }
// .modal__btn-icon {
//   fill: black;
// }
// .modal__content {
//   margin: 0 auto;
//   width: 100%;
//   height: 100%;
//   border: 1px solid rgb(25, 25, 102);
//   background-color: var(--main-color);
//   padding: 60px 15px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   -webkit-box-shadow: inset 0px 0px 20px -2px rgba(199,48,199,1);
//   -moz-box-shadow: inset 0px 0px 20px -2px rgba(199,48,199,1);
//   box-shadow: inset 0px 0px 20px -2px rgba(199,48,199,1);
// }

//
// .ul__list {

//   padding: 20px 20px;
//   gap: 8px;

// }
// .vote__count {
//   font-family: Roboto;
//   font-weight: 500px;
//   font-size: 12px;
//   line-height: 16px;
//   color: rgba(140, 140, 140, 1);
//   text-transform: uppercase;
// }
// .text__modal {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   color: #000;
// }
// .details {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.67;
//   color: #000;
//   background-color: #e0841a;
// }
// .details__info {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   display: flex;
//   align-items: center;
//   color: #eda70f;
//   padding-top: 20px;
//   margin-bottom: 10px;
//   text-transform: uppercase;
//   border-radius: 5px;
// }

// .button_list {
//   width: 100%;
//   margin: 0, auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .modal__button__item-watched{
//   margin-right: 20px;
//   border-radius: 5px;
//   border: 0px solid transparent;
//   padding: 2px 10px;
//   width: 111px;

//   border: 1px solid transparent;
//   background-color: #e91111;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.33;
//   color: #ffffff;
//   text-transform: uppercase;
//  &:hover,
//   &:focus {
//     transform: scale(1.05);
//     background-color: #ffff;
//   }
// }
// .modal__button__item-queue{
//   margin-right: 20px;
//   border-radius: 5px;
//   border: 0px solid transparent;
//   padding: 2px 10px;
//   width: 111px;

//   border: 1px solid transparent;
//   background-color: #e91111;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.33;
//   color: #ffffff;
//   text-transform: uppercase;
//  &:hover,
//   &:focus {
//     transform: scale(1.05);
//     background-color: #ffff;
//   }
// }
// @media screen and (min-width: 768px) {
//   .modal__content {
//     background-color: var(--main-color);
//     width: 704px;
//     min-height: 502px;
//     padding: 60px 15px;
//     display: flex;
//     flex-direction: row;
//   }

// }
// @media screen and (min-width: 1280px) {

//   .modal__content {
//     max-width: 100%;
//     padding: 60px 15px;
//     display: flex;
//     flex-direction: row;
//   }
// }
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
}

.modal.show {
  display: block;
}
.hidden {
  display: none;
}
.modal-dialog {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
}

.modal-header {
  padding: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

.modal-title {
  margin: 0;
  color: var(--dark-color);
}

.modal-body {
  padding: 10px;
  border: 1px solid blue;
}

.modal-footer {
  padding-top: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  border: 1px solid green;
}

.btn {
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 120px;
  height: 44px;
  cursor: pointer;
}

.btn-primary {
  background: #b92f2c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 2px 10px;
  width: 137px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: #b92f2c;
  text-transform: uppercase;

  &:hover,
  &:focus {
    transform: scale(1.05);
    border-radius: 100px;
    background: #b92f2c;
    color: #fff;
  }
}

.close {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-color);
  cursor: pointer;
  border-style: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-save.remove {
  background-color: red;
  color: white;
}
.show {
  display: block;
}
.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 23px;
  color: rgb(243, 180, 19);
  text-transform: uppercase;
  border-radius: 3px;
  padding-left: 25px;
  margin-bottom: 30px;
}

.img_movie {
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  height: 357px;
  flex-shrink: 0;

  .img_movie {
    position: absolute;
    width: 235px;
    height: 278px;
    // left: 249px;
    // top: 290px;
    border-radius: 5px;
  }

  .btn-watched:hover,
  .btn-watched:focus {
    background-color: red;
    transform: scale(1.05);
  }
  .text__modal {
    color: black;
  }
}
.ul__list {
  padding: 20px 20px;
  gap: 8px;
}
.vote__count {
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(140, 140, 140, 1);
  text-transform: uppercase;
}
.details {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  background-color: #e0841a;
}
.details__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.text__modal {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000;
}
@media screen and (min-width: 768px) {
  .modal-content {
    background-color: var(--main-color);
    width: 704px;
    min-height: 502px;
    padding: 60px 15px;
  }
  .modal-body {
    display: flex;
    flex-direction: row;
  }
  .img_movie {
    width: 264px;
    height: 373.551px;
    flex-shrink: 0;
  }
}
