.modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 35px;
  z-index: 99;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal__is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
.modal__close {
  border-radius: 50%;
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__btn-icon {
  fill: black;
}
.modal__content {
  margin: 0 auto;
  width: 285px;
  border: 2px solid blue;
  background-color: var(--main-color);
  padding: 60px 15px;
}

.img_movie {
  width: 240px;
  border-radius: 5px;
}
.title__modal {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: black;
  text-transform: uppercase;
  padding-top: 20px;
}
.ul__list {
  border: 2px solid red;
  padding: 20px 20px;
  gap: 8px;
}
.vote__count {
  font-family: Roboto;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(140, 140, 140, 1);
  text-transform: uppercase;
}
.text__modal {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000;
}
.details {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000;
}
.details__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 20px;
  margin-bottom: 10px;
}

.button_list {
  width: 100%;
  margin: 0, auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__button__item-queue {
  margin-top: 21px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 2px 10px;
  width: 111px;
  border: 1px solid var(--dark-color);
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  text-transform: uppercase;

  transition-property: transform, background-color;
  transition-duration: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: var(--button-color);
    color: #ffff;
    border-style: none;
  }
}
@media screen and (min-width: 768px) {
  .modal__content {
    background-color: var(--main-color);
    width: 618px;
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__content {
    max-width: 100%;
    padding: 60px 15px;
    display: flex;
    flex-direction: row;
  }
}