@keyframes movieScrolling {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.header {
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    @include center-text;
  }

  &__menu {
    padding: 0; 
    &__list {
      @include row;
      @include center-text;
      justify-content: center;
      gap: 4px;
      &__item {
        &--link {
          color: var(--hover-color);
          transition: transform 0.3s ease-in-out;
          @include nav;
          @include center-text;
          padding: 10px 23px;
          box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
          &::before {
            @include nav-before;
          }
          &:hover {
            @include nav-hover;
            &::before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  &__container {
    margin: 20px auto;
    background: var(--gradient-background), url('../images/mobile-bg.png');
    @include background;
    display: flex;
    flex-direction: column;
    padding: 14px 14px 20px 14px;
    width: var(--width-max);
    max-width: 280px;
    height: 460px;
    &--navbar {
      padding-bottom: 285px;
    }
    &__logo {
      @include row;
      justify-content: center;
      align-items: center; 

      flex-grow: 1;
      &--link {
        color: var(--main-color);
        @include row;
        gap: var(--main-gap);
      }
      &--icon {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 32px;
        height: 32px;
        &-svg {
          width: 32px;
          height: 32px;
          fill: none;
          position: absolute;
          animation: movieScrolling 3s linear infinite;
          transform: translateY(100%);
        }
      }
    }
    &--switch-btn{
      display:flex; 
      justify-content: flex-end;  
      margin-top:3px; 
      order:4;
      &-checkbox {
        opacity: 0;
        position: absolute;
        &:checked + .header__container--switch-btn-checkbox-label .ball { 
          transform: translateX(16px);
        }
        &-label {
          background-color: var(--main-color); 
          width: 35px;
          height: 18px;
          border-radius: 50px;
          position: relative;
          padding:1px; 
          border:2px solid white;
          margin:1px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ball {
            background-color: var(--hover-color);
            width: 20px;
            height: 20px; 
            position: absolute;
            left: -2px;
            top: -3px; 
            border-radius: 50%;
            transition: transform 0.2s linear; 
          }
        }
      }
    }
  }
  &__navigation__menu {
    @include row;
    gap: 4px;
    padding-bottom: 8px;
    &--selected { 
      border-radius: 100px;
      .header__navigation__menu__item--link {
        background-color: var(--dark-color);
        color: var(--main-color);
      }
      .header__menu__list__item--link {
        background-color: var(--hover-color);
        color: var(--main-color);
      }
    }
    &__item {
      &--link {
        @include nav;
        @include center-text;
        color: var(--dark-color);
        transition: transform 0.3s ease-in-out;
        padding: 10px 26px;
        &::before {
          @include nav-before;
        }
        &:hover {
          @include nav-hover;
          &::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header__container {
    background: var(--gradient-background), url('../images/mobile-bg@2x.png');
    background-size: cover;
  }
}

#btn_light, #btn_night{ 
  width:11px;
  height:20px; 
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  ::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .header {
    &__title {
      font-size: 40px;
      line-height: 47px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: var(--width-max);
        height: 4px;
        background: linear-gradient(to right, hsl(30, 8%, 95%), transparent);
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
    &__container {
      background: var(--gradient-background), url('../images/tableta-bg.png');
      @include background;
      padding: 16px;
      width: var(--width-max);
      max-width: 704px;
      height: 222px;
      margin: 32px auto;
      &--navbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: var(--main-gap); 
        padding: 0;
        order: 1;
        margin-right: auto;
        position: absolute;
        flex-grow: 1;
      }
      &__logo {
        justify-content: flex-start;
        align-items: flex-end;
        order: 3; 
        &--icon {
          width: 40px;
          height: 40px;
          &-svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      
    &--switch-btn{ 
      margin-top:0;  
      &-checkbox { 
        &:checked + .header__container--switch-btn-checkbox-label .ball {
          transform: translateX(22px); 
        }
        &-label {
          background-color: var(--main-color);
          width: 50px;
          height: 30px; 
          padding: 5px; 
          .ball {
            background-color: var(--hover-color);
            width: 25px;
            height: 25px; 
            left: 0;
            top: 1px;  
          }
        }
      }
    }
    }
    &__navigation__menu {
      padding-bottom: 0;
      &--item {
        padding: 12px 24px;
        a {
          color: var(--dark-color);
        }
      }
    }
    &__menu {
      order: 2;
      margin-left: auto;
      position: relative;
      &__list {
        justify-content: flex-end;
      }
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header__container {
      background: var(--gradient-background), url('../images/tableta-bg@2x.png');
      background-size: cover;
    }
  }
  #btn_light, #btn_night{ 
    width:16px;
    height:22px; 
}
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    &__title {
      font-size: 64px;
      line-height: 75px;
    }
    &__container {
      background: var(--gradient-background), url('../images/desktop-bg.png');
      @include background;
      padding: 16px 32px 32px 32px;
      width: var(--width-max);
      max-width: 1216px;
      height: 316px; 
      &__logo--icon {
        width: 59px;
        height: 59px;
        &-svg {
          width: 59px;
          height: 59px;
        }
      }
    }
    &__navigation__menu--item {
      padding: 12px 24px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header__container {
      background: var(--gradient-background), url('../images/desktop-bg@2x.png');
      background-size: cover;
    }
  }
}
