.scroll {
  opacity: 0.8;
  background-color: var(--hover-color);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  z-index:99;
  &__arrow {
    stroke: var(--dark-color);
    fill: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    width: 20px;
    height: 20px;
  }
  &:hover {
    opacity: 1;
  }
}
