.header {
  &__search {
    position: relative;
    input {
      height: 34px;
      margin: 0 auto;
      border-radius: 100px;
      padding: 10px 0 10px 14px;
      background-color: var(--main-color);
      border: none;
      width: var(--width-max);
      transition: border-color 0.5s ease-out;
      &:focus {
        border: 3px solid var(--dark-color);
        outline: none;
        color: var(--hover-color);
      }
    }
    button {
      position: absolute;
      background-color: transparent;
      right: 14px;
      bottom: 0;
      padding: 0;
      margin: 0 auto;
      border: none;
      cursor: pointer;
      &:hover .header__search__container--icon {
        width: 20px;
        height: 20px;
      }
    }
    &__container {
      position: relative;
      &--icon {
        width: 16px;
        height: 16px;
        fill: var(--main-color);
        stroke: var(--dark-color);
        :hover {
          stroke: var(--hover-color);
        }
      }
      &--error {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: var(--main-color);
        padding: 8px 0 8px 15px;
        width: 180px;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    &__search {
      input {
        height: 38px;
        width: 165px;
        padding: 11px 0 11px 14px;
      }
      button {
        right: 11px;
      }
      &__container {
        &--error {
          padding: 10px 0 10px 15px;
          width: 165px;
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .header {
    &__search {
      input {
        height: 42px;
        padding: 13px 0 13px 16px;
      }
      button {
        right: 11px;
      }
      &__container {
        &--error {
          padding: 10px 0 10px 15px;
          width: 185px;
        }
      }
    }
  }
}
